Timo Tijhof <krinkle@fastmail.com> <krinklemail@gmail.com>
David Chan <dchan@wikimedia.org> <david@troi.org>
David Chan <dchan@wikimedia.org> <david@sheetmusic.org.uk>
Kunal Mehta <legoktm@debian.org> <legoktm@gmail.com>
Kunal Mehta <legoktm@debian.org> <legoktm@member.fsf.org>
Paladox <thomasmulhall410@yahoo.com>
DannyS712 <dannys712.wiki@gmail.com> <DannyS712.enwiki@gmail.com>
Libraryupgrader <tools.libraryupgrader@tools.wmflabs.org>
Bartosz Dziewoński <matmarex@wikimedia.org> <matma.rex@gmail.com>
Ed Sanders <ejsanders@gmail.com> <esanders@wikimedia.org>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Thalia Chan <thalia@cantorion.org> <thalia.e.chan@googlemail.com>
