Timo Tijhof <krinklemail@gmail.com>
David Chan <david@troi.org>
David Chan <david@troi.org> <david@sheetmusic.org.uk>
Kunal Mehta <legoktm@member.fsf.org>
Kunal Mehta <legoktm@member.fsf.org> <legoktm@gmail.com>
Paladox <thomasmulhall410@yahoo.com>
Libraryupgrader <tools.libraryupgrader@tools.wmflabs.org>
